
#download {width: 5%;
}
body {background-color: brown;
}
#gojo {margin-left: 20%; width 20%; 
}

h1 {color: gold;
}

#gojo {width: 40%;
}

#itadori {width: 40%;
}

#sukuna {width: 40%;
}

#sukuna {margin-left: 20%; width 20%; 
}

#itadori {margin-left: 20%; width 20%; 
}